.menuBtn {
    -fx-text-fill: white;
    -fx-background-color: rgba(92, 92, 92, 0.6);
    -fx-min-width: 100;
}

.menuBtn:hover {
    -fx-background-color: rgba(92, 92, 92, 1);
}

.playBtn {
    -fx-text-fill: white;
    -fx-background-color: #009102;
    -fx-min-width: 100;
}

.playBtn:hover {
    -fx-background-color: #00B700;

}

.label {
    -fx-text-fill: white;
}

.error {
    -fx-text-fill: red;
}

.crimeBox {
    -fx-border-color: #040D33;
    -fx-border-width: 5;
    -fx-padding: 5 10 5 10;
    -fx-background-color: rgba(11, 33, 130, 0.3);
}

.crimeBox:hover, .crimeHover {
    -fx-border-color: #FFB600;
}

.crimeBox .label {
    -fx-text-fill: #A5BDE2;
}

.statusBox .statusFieldName {
    -fx-text-fill: #A5BDE2;
}

.sleepBtn, .resumeBtn {
     -fx-text-fill: white;
     -fx-background-color: #009102;
     -fx-min-width: 250;
     -fx-font-size: 18;
}

.sleepBtn:hover, .resumeBtn:hover, .crimeBox .fightBtn:hover {
     -fx-background-color: #00A000;
}

.disabledBtn {
    -fx-background-color: #1d1d1d !important;
}

.disabledBtn:hover {
    -fx-background-color: #2d2d2d !important;
}

.pauseMenuBtn {
     -fx-text-fill: white;
     -fx-background-color: #8E0002;
     -fx-min-width: 250;
     -fx-font-size: 18;
}

.pauseMenuBtn:hover, .crimeBox .commitBtn:hover {
     -fx-background-color: #9E0000;
}

.pausePane {
    -fx-background-color: rgba(0, 0, 0, 0.8);
}

.crimeBox .button {
     -fx-text-fill: white;
     -fx-min-width: 40;
     -fx-font-size: 14;
}

.crimeBox .commitBtn {
    -fx-background-color: #8E0002;
}

.crimeBox .fightBtn {
    -fx-background-color: #009102;
}

.crimeBox .ignoreBtn {
    -fx-background-color: #005489;
}

.crimeBox .ignoreBtn:hover {
    -fx-background-color: #005E99;
}